@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(11, 69, 145, 0.89);
}
.content{
    position: absolute;
    top:50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%,-50%);
    background-color: #d1effa87;
    box-shadow: 5px 20px 50px #000;
    outline: none;
    border-radius: 5px;
}
.content header{
    color:black;
    font-size: 33px;
    font-weight: 600;
    margin:0 0 35px 0;
}
.field{
    position: relative;
    height: 45px;
    width: 45px;
    width: 100%;
    display: flex;
    background:  #e0dede;
     outline: none;
     border-radius: 5px;
}
.field span{
    color: #222;
    width: 40px;
    list-style: 45px;
}
.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
}
.space{
    margin-top: 16px;
}
.show
{
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display:none;
    cursor: pointer;
}
.pass-key:valid ~ .show{
    display: block;
}
.pass{
    text-align: left;
    margin: 10px 0;

}
.pass a{
    color: #fff;
    text-decoration: underline;
}
.field input[type="submit"]{
    background: #3498db;
    border: 1px solid #3498db;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;

}
.field input[type="submit"]:hover{
    background-color: #2691db;
}
.login{
    color: #fff;
    margin: 20px 0;
}
.links{
 display: flex;
 cursor: pointer;
 color:#fff;
 margin: 0 0 20px 0;
}
.facebook,
.google{
    width:100%;
    height: 45px;
    line-height: 45px;
    margin-left: 10px;
}
.facebook{
    margin-left:0;
    background: #4267b2;
    border:1px solid #3e61a8;
}
.google{
    background: rgb(201, 194, 194);
    border:1px solid #222;
}
.facebook:hover{
    background: #3e61a8;
}
.google:hover{
    background: rgb(83, 76, 76);
}
.links i{
    font-size: 17px;
}
i span{
    margin-left: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
}
.signup{
    font-size: 15px;
    color: #fff;
}
.signup a{
    color:black;
    text-decoration: none;
}
.signup a:hover{
    text-decoration: underline;
}
.fa-user{
    color:yellow;
}
