body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost' ,sans-serif;
    background-color: rgba(11, 69, 145, 0.89);
    
}
.main{
    width: 450px;
    height: 310px;
    background-color: #d1effa87;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;

}
header{
 text-align: center;
  text-transform: uppercase;
  color:black;
  margin-top: 20px;
  font-size: 30px;
}


input{
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
button:hover{
    background: #6d44b8;
}
p {
    margin: 10px 10px 30px 30px;

    text-indent: 20px;
    text-align: center;
  }
