body{
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     font-family: 'Jost' ,sans-serif;
     background-color: rgba(11, 69, 145, 0.89);
     
}
.main{
     width: 450px;
     height: 510px;
   
     background-color: #d1effa87;
     overflow: hidden;
     border-radius: 10px;
     box-shadow: 5px 20px 50px #000;

}

header{
     color:black;
     font-size: 33px;
     font-weight: 600;
     margin:10px 0 35px 0;
     text-align: center;
}
.signup{
     position: relative;
     width: 100%;
     height: 100%;
      
}
label{
     color: #fff;
     font-size: 2.3em;
     justify-content: center;
     display: flex;
     margin: 60px;
     font-weight: bold;
     cursor: pointer;
     transition: .5s ease-in-out;
}
input{
     width: 60%;
     height: 20px;
     background: #e0dede;
     justify-content: center;
     display: flex;
     margin: 20px auto;
     padding: 10px;
     border: none;
     outline: none;
     border-radius: 5px;
}
button{
     width: 50%;
     height: 40px;
     margin: 10px auto;
     justify-content: center;
     display: block;
     color: #573b8a;
     font-size: 1em;
     font-weight: bold;
     margin-top: 20px;
     outline: none;
     border: none;
     border-radius: 5px;
     transition: .2s ease-in;
     cursor: pointer;
}
button:hover{
     background: #6d44b8;
}
.login{
     height: 480px;
     background: #eee;
     border-radius: 60% / 10%;
     transform: translateY(-180px);
     transition: .8s ease-out;
}
.login label{
     color: #573b8a;
     transform: scale(.6);

}
#chk:checked ~ .login{
     transform: translateY(-500px);

}
#chk:checked ~ .login label{
    transform: scale(1);
}

#chk:checked ~ .signup label{
     transform: scale(.6);
     color: black;
}
.social-text{
     text-align: center;
     color: black;
}
.social-media{
     text-transform: none;
     text-align: center;
     
}
.fa {
     padding: 10px;
     padding-bottom: 2px;
     font-size: 20px;
     width: 20px;
     text-align: center;
     text-decoration: none;
   }
   
   /* Add a hover effect if you want */
   .fa:hover {
     opacity: 0.7;
   }
   
   /* Set a specific color for each brand */
   
   /* Facebook */
   .fa-facebook {
     background: #3B5998;
     color: white;
   }
   
   /* Twitter */
   .fa-twitter {
     background: #55ACEE;
     color: white;
   }
   .fa-google {
     background: #55ACEE;
     color: white;
   }
   .fa-eye{
        color: hotpink;
        position: absolute;
        

   }
   .pass-link{
        margin-top: 2px;
        float: right;
        padding-right: 100px;
        margin-bottom: 10px;
    
   }
.pass-link a:hover{
  text-decoration: underline;
  margin-left: 100px;
}
.fogget{
     position: relative;
     width: 100%;
     height: 100%;
}
.main-forget{
     width: 450px;
     height: 610px;
     background: red;
     overflow: hidden;
     background: url("1.jpg") no-repeat center / cover;
     border-radius: 10px;
     box-shadow: 5px 20px 50px #000;
}
